.form {
    font-family: serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 7%;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 999;
    position: relative;
    border-bottom: 1px solid black;
    background-color: rgb(221, 203, 175);
}

.navbar a {
    color: #550909;
    font-family: 'Trebuchet MS';
    font-size: 110%;
    margin : 0 1rem;
    display: inline-block;
    text-decoration: none;
}