/* Form Styling */
.form {
    font-family: serif;
    font-size: large;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #550909;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #882222;
}


/* style navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 7%;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 999;
    position: relative;
    border-bottom: 1px solid rgb(37, 10, 1);
    background-color: rgb(221, 203, 175);
}

.navbar a {
    color: #550909;
    font-family: 'Trebuchet MS';
    font-size: 110%;
    margin : 0 1rem;
    display: inline-block;
    text-decoration: none;
}

/* CSS Box Model */
.box-model {
    border: 3px solid #550909;
    padding: 15px;
    margin: 30px auto;
    max-width: 400px;
    border-radius: 10px;
    background-color: rgb(237, 227, 211);
    text-align: justify;
    font-family: Arial, sans-serif
}

.cotainer {
    display: flex; /* sejajar berurutan */
    justify-content: space-around;
}

.content {
    background-color: rgb(219, 206, 184);
    color: #550909;
    padding: 20px;
    border: 3px solid #550909;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    text-align: justify;
}

.content:hover {
    background-color: rgb(239, 225, 209);
    color:  #120600;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.li {
    margin-left: -15px;
}

.fa-brands.fa-facebook.fa-lg {
    color: #550909;
}

.fa-brands.fa-square-instagram.fa-lg {
    color: #550909;
}

.fa-brands.fa-tiktok {
    color: #550909;
}

.fa-brands.fa-spotify.fa-lg {
    color: #550909;
}

.fa-brands.fa-apple.fa-lg {
    color: #550909;
}

.fa-brands.fa-youtube.fa-lg {
    color: #550909;
}

.fa-solid.fa-link {
    color: #550909;
} 

.lana a:link, .lana a:visited {
    background-color: #550909;
    color: white;
    padding: 10px 10px;
    margin: 0;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  
.lana {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.lana a:hover, .lana a:active {
    background-color: rgb(116, 107, 92);
    border: 3px solid #550909;
  }