.form {
    font-family: serif;
}

/* style navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 7%;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 999;
    position: relative;
    border-bottom: 1px solid rgb(93, 79, 36);
    background-color: rgb(221, 203, 175);
}

.navbar a {
    color: #550909;
    font-family: 'Trebuchet MS';
    font-size: 110%;
    margin : 0 1rem;
    display: inline-block;
    text-decoration: none;
}

.box-model {
    max-width: fit-content;
    padding: 15px;
    border: 3px solid #550909;
    margin: 0;
    background-color: rgb(243, 231, 211);
    text-align: justify;
}

.form {
    font-size: large;
}

li {
    margin-left: -15px;
}

.fa-brands.fa-facebook.fa-lg {
    color: #550909;
}

.fa-brands.fa-square-instagram.fa-lg {
    color: #550909;
}

.fa-brands.fa-tiktok {
    color: #550909;
}

.fa-brands.fa-spotify.fa-lg {
    color: #550909;
}

.fa-brands.fa-apple.fa-lg {
    color: #550909;
}

.fa-brands.fa-youtube.fa-lg {
    color: #550909;
}

.fa-solid.fa-link {
    color: #550909;
}
